version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "gradle"
    directory: "/buildSrc/buildSrc/src/main/kotlin/"
    schedule:
      interval: "daily"