.gradle
#/.idea/caches
#/.idea/artifacts
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
/build
#local.properties
#.externalNativeBuild
#.cxx
.env
